/*
font-family: 'IBM Plex Mono', monospace;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; 
*/

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    color: #40514E;
}

hr{
    border: dotted #D3DEDC 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto; /* top & bottom spacing*/
}

h1{
    color: #92A9BD;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive; 
}

h2{
    color:#7C99AC;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color:#7C99AC;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

p{
    line-height: 2;
}

a{
    color: #92A9BD;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #7C99AC;
}

/*CLASSES*/ 
.top-container{
    background-color: #FFEFEF;
    position: relative;
    padding-top: 100px;
}

.intro{
    width: 30%;
    margin: auto;
}

.middle-container{
    background-color: #ffffff;
    margin: 100px 0;
}

.bottom-container{
    background-color: #FFEFEF;
    padding: 50px 0 20px; /* top and bottom bc the text has padding*/
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.project-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

/*.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}*/

.girl{
    height: 500px;
    width: 500px;
}

.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.paint{
    margin-right: 30px;
    height: 125px;
    width: 125px;
    float: left;
}

.dance{
    margin-left: 30px;
    height: 125px;
    width: 125px;
    float:right; /* float: wrap around image*/
    /*clear: stop wrapping on left||right sides*/
}

.program{
    margin-right: 30px;
    height: 125px;
    width: 125px;
    float: left;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}


.btn {
    background: #92A9BD;
    background-image: -webkit-linear-gradient(top, #92A9BD, #7C99AC);
    background-image: -moz-linear-gradient(top, #92A9BD, #7C99AC);
    background-image: -ms-linear-gradient(top, #92A9BD, #7C99AC);
    background-image: -o-linear-gradient(top, #92A9BD, #7C99AC);
    background-image: linear-gradient(to bottom, #92A9BD, #7C99AC);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    /*font-family: Arial;*/
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #D3DEDC;
    background-image: -webkit-linear-gradient(top, #FFEFEF, #7C99AC);
    background-image: -moz-linear-gradient(top, #FFEFEF, #7C99AC);
    background-image: -ms-linear-gradient(top, #FFEFEF, #7C99AC);
    background-image: -o-linear-gradient(top, #FFEFEF, #7C99AC);
    background-image: linear-gradient(to bottom, #FFEFEF, #7C99AC);
    text-decoration: none;
}

.copyright{
    color: #D3DEDC;
    font: 0.75rem;
    padding: 20px 0px;
}
